<html>
<head>
	<title>PonyExpress</title>
	<!-- dependencies !-->
	<script type="text/javascript" src="dependencies/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="dependencies/neon.js"></script>
	<script type="text/javascript" src="dependencies/CustomEvent.js"></script>
	<script type="text/javascript" src="dependencies/CustomEventSupport.js"></script>
	<script type="text/javascript" src="socket.io/socket.io.js"></script>

	<!-- backbone !-->
	<script type="text/javascript" src="dependencies/underscore-min.js"></script>
	<script type="text/javascript" src="dependencies/backbone-min.js"></script>

	<!-- library !-->
	<script type="text/javascript" src="lib/PonyExpress.js"></script>
	
	<!-- test !-->
	<script type="text/javascript" src="/test/public/tellurium-min.js"></script>
	<script type="text/javascript" src="/test/backbone-proyect.js"></script>
	<script type="text/javascript" src="/test/backbone-test.js"></script>

	<!-- demo code !-->
	<script type="text/javascript">
	$(document).ready(function () {

		setTimeout(function(){
			Te.run();
		}, 500);
	});
	</script>
</head>
<body>
	<div id="chat"></div>
</body>
</html>